@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.landing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 10;
}

.active {
  color: #cf404d;
}

.absolute {
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#typewriter {
  border-right: 2px solid #cf404d;
  animation: blink 0.8s linear infinite;
  padding-right: 2px;
}

@keyframes blink {
  from {
    border-color: #cf404d;
  }
  to {
    border-color: transparent;
  }
}

.fade-out {
  animation: fade 1s 2s forwards;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
